<div class="d-flex justify-content-between align-items-center" style="min-height: 350px">
    <!-- Front of Flashcard -->
    <div class="position-relative" style="width: 45%; min-height: 350px;">
        <!-- Back layer card -->
        <div class="card flashcard bg-primary text-light border-light position-absolute"
            style="bottom: 10px; right: 10px">
        </div>
        <!-- Middle layer card -->
        <div class="card flashcard bg-primary text-light border-light position-absolute"
            style="bottom: 5px; right: 5px">
        </div>
        <!-- Front card -->
        <div class="card flashcard bg-primary text-light border-light">
            <div class="p-3">
                <h5 class="card-title text-center" style="font-size: 1.75rem;">Front</h5>
            </div>
            <div class="position-absolute top-50 start-50 translate-middle" style="flex-grow: 1;">
                <p class="card-text text-center" style="font-size: 1.5rem;">{{ currentFlashcard[0] }}</p>
            </div>
        </div>
    </div>

    <!-- Input and Back of Flashcard with stacking effect -->
    <div class="position-relative" style="width: 45%; min-height: 350px;">
        <!-- Back layer card -->
        <div class="card flashcard bg-secondary text-light border-light position-absolute"
            style="top: 10px; left: 10px">
        </div>
        <!-- Middle layer card -->
        <div class="card flashcard bg-secondary text-light border-light position-absolute" style="top: 5px; left: 5px">
        </div>
        <!-- Front card -->
        <div class="card flashcard bg-secondary text-light border-light">
            <div class="p-3 text-center">
                <h5 class="card-title" style="font-size: 1.75rem;">Back</h5>
            </div>

            <!-- Input field centered using position-absolute -->
            <div class="position-absolute top-50 start-50 translate-middle" style="width: 80%;">
                <input type="text" class="form-control" style="font-size: 1.25rem;" [(ngModel)]="answer"
                    placeholder="Enter your answer" (keydown.enter)="submitAnswer()"
                    [disabled]="isForceCorrectAnswer && isAnsweredCorrectly" />
            </div>

            <!-- Submit button and feedback message at the bottom -->
            <div class="d-flex flex-column justify-content-center align-items-center p-3"
                style="width: 100%; position: absolute; bottom: 0;">
                <!-- Feedback -->
                <div class="" style="min-height: 1.5rem;">
                    <p *ngIf="feedback" class="text-light" style="font-size: 1.25rem;">
                        {{ feedback }}
                    </p>
                </div>
                <button (click)="submitAnswer()" class="btn btn-success" style="font-size: 1.5rem;">Submit</button>
            </div>
        </div>
    </div>
</div>